
.content .searchhead {
  clear: both;
  font-weight: bold;
  margin: 10px 0;
}
.google-search-results .gss-result .gss-title {
  font-weight: normal;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-search-url {
  font-style: italic; 
}
div.item-list ul.pager li {
  margin-left: 0;
  padding: 4px 10px 4px 10px;
}



