.content .searchhead {
  clear: both;
  font-weight: bold;
  margin: 10px 0;
}
.google-search-results,
.google-search-results .gss-result,
.google-search-results .gss-result .gss-title,
.google-search-results .gss-result .gss-search-snippet-info p {
  margin: 0;
}
.google-search-results {
  padding: 0;
}

.google-search-results li {
  list-style: none;
  padding: 15px 0;
}
.google-search-results .gss-result .gss-title {
  font-weight: normal;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-search-url,
.google-search-results .gss-result .gss-search-snippet-info .gss-info {
  margin: 0;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-search-snippet {
  margin: 10px 0;
}
.google-search-results .gss-result .gss-search-snippet-info .gss-search-url {
  font-style: italic;
}
